<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "header.css">
    <!-- <link rel = "stylesheet" href = "header.css"> -->
</head>
<body>
    <!-- Dungeon: main elements -->
    <img id = "dungeon" src = "/images/dungeon-snd-texture.png">
    <img id = "door" class = "interact" src = "/images/door-close.png">
    <img id = "vortex" src = "/images/vortexv2.gif">
    <button id="sound_button">&#128266;</button>
    <!-- Draggable Elements-->
    <img id = "potion" class = "draggable" value = "Click one to pick up, click again to set down." src = "../icons/potion1-blue.png">
    <!-- Textboxes/Alerts-->
    <!-- <img class = "textbox" src = ""> -->
    <script src = "header.js"></script>
</body>
</html>
