.brew {
  position: absolute;
  top: 208px;
  left: 570px;
  height: 75px;
  z-index: 3;
}
#chest {
  position: absolute;
  top: 600px;
  left: 1100px;
  height: 200px;
  z-index: 3;
}
/* img[name="blue_potion"]{
  position: absolute;
  top: 208px;
  left: 570px;
  height: 75px;
  z-index: 3;
} */