body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#dungeon{
background-image: "/images/dungeon.png";
}

/*
    https://stackoverflow.com/questions/24990554/how-to-include-a-font-ttf-using-css
    if we want to use a pixel font from this pack
    otherwise, we can definitely create an img file or something instead
*/