body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#dungeon {
  position: relative;
  background-image: "/images/dungeon.png";
}
#torch1 {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 15%;
  height: 25%;
}
#torch2 {
  position: absolute;
  top: 150px;
  left: 900px;
  width: 15%;
  height: 25%;
}
