body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
#dungeon {
  position: relative;
}
#web {
  position: absolute;
  left: -15px;
  top: -30px;
  width: 300px;
  height: 300px;
}
#torch1 {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 7%;
  height: 15%;
}
#torch2 {
  position: absolute;
  top: 150px;
  left: 975px;
  width: 7%;
  height: 15%;
}
#door-closed {
  position: absolute;
  top: 208px;
  left: 570px;
}
#door-open {
  position: absolute;
  left: 320px;
  top: 190px;
}
#lock {
  position: absolute;
  left: 642px;
  top: 510px;
  width: 3%;
  height: 7%;
}
#key {
  position: absolute;
  left: 1100px;
  top: 700px;
  width: 3.5%;
  height: auto;
  transform: rotate(70deg);
}
