.mbar {
  padding: 5px;
  position: absolute;
  z-index: 4;
  background: #eee;
  border: 1px solid #aaa;
  left: 300px;
  width: 800px;
  top: 720px;
  font-family: theFont;
  color: white;
  text-shadow: 0 0 8px #000;
  font-size: 30px;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
@font-face {
  font-family: theFont;
  src: url("https://fonts.cdnfonts.com/s/7662/amiga4ever.woff") format("woff");
}
.beginning {
  padding: 50px;
  margin: 100px;
  background: #71879e;
  border: 1px solid #71879e;
  position: absolute;
  z-index: 4;
  opacity: 0.95;
  text-align: center;
  font-size: 30px;
  width: 1050px;
  font-family: theFont;
  text-shadow: 0 0 8px #000;
  color: white;
  top: 100px;
  left: 30px;
}
.math-game {
  padding: 100px;
  margin: 168px;
  background: #71879e;
  border: 1px solid #71879e;
  position: absolute;
  z-index: 4;
  opacity: 0.9;
  text-align: center;
  font-size: 30px;
  width: 1100px;
  font-family: theFont;
  text-shadow: 0 0 8px #000;
  color: white;
}
#dungeon {
  position: relative;
  z-index: 0;
}
#web {
  position: absolute;
  left: -15px;
  top: -30px;
  width: 300px;
  height: 300px;
}
#torch1 {
  position: absolute;
  top: 150px;
  left: 300px;
  width: 140px;
  height: 160px;
}
#torch2 {
  position: absolute;
  top: 150px;
  left: 975px;
  width: 140px;
  height: 160px;
}
#door {
  position: absolute;
  top: 208px;
  left: 570px;
  z-index: 2;
}
#key {
  position: absolute;
  left: 1050px;
  top: 590px;
  width: 50px;
  height: 50px;
  transform: rotate(70deg);
}
#puzzleL {
  position: absolute;
  top: 590px;
  left: 1015px;
  width: 50px;
  height: 50px;
}
#puzzleR {
  position: absolute;
  top: 590px;
  left: 1105px;
  width: 50px;
  height: 50px;
  transform: rotate(67deg);
}
#paper1 {
  position: absolute;
  top: 700px;
  left: 250px;
  width: 75px;
  height: 75px;
  transform: rotate(-30deg);
}
#paper2 {
  position: absolute;
  top: 700px;
  left: 290px;
  width: 75px;
  height: 75px;
}
#lock {
  position: absolute;
  left: 637px;
  top: 510px;
  width: 50px;
  height: 60px;
  z-index: 3;
}
#oval-vortex {
  position: absolute;
  top: 210px;
  left: 577px;
  height: 500px;
  z-index: 1;
}
.interact:hover {
  filter: drop-shadow(0px 3px 3px #000000); /* right, bottom, top*/
}
#chest {
  position: absolute;
  top: 570px;
  left: 990px;
  height: 25%;
}
.next {
  padding: 10px;
  position: absolute;
  z-index: 4;
  background: #eee;
  border: 1px solid #aaa;
  left: 670px;
  width: 95px;
  top: 550px;
  font-family: theFont;
  color: white;
  text-shadow: 0 0 8px #000;
  font-size: 10px;
}
button {
  font-family: theFont;
  background-color: #eee;
  color: #aaa;
  border: 1px solid #aaa;
  font-size: 20px;
  left: 30px;
}
