body {
  background-image: url("images/trivia-bckgrnd.png");
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Amiga Forever", sans-serif;
}

label {
  color: white;
}
.container {
  text-align: center;
  font-size: 20px;
  font-family: "Amiga Forever", sans-serif;
  text-shadow: 0 0 8px #000;
}
button {
  font-family: "Amiga Forever", sans-serifs;
  background-color: tomato;
  color: #ffca38;
  font-size: 25px;
}
select {
  font-family: "Amiga Forever", sans-serifs;
  background-color: #ffffff;
  font-size: 25px;
}
#mbar{
    font-family: 'Amiga Forever', sans-serifs;
    color: tomato;
    font-size: 25px;

}
table{
    position: absolute;
    top: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    text-shadow: 0 0 8px #000;
}